.page-27 {
  background-color: #EBF6FD;
}

//top banner
#c100 {
  background-color: #86CBF1;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #3F3F3F;
}

//top text
#c101 {
  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #4FC3F7;
    margin-top: 7px;
  }
  p {
    font-size: large;
  }
}
