//
// Variables
//
@import "variables";

//
// Import needed Bootstrap Package Files
//
@import "EXT:bootstrap_package/Resources/Public/Scss/bootstrap5/theme";

@import "home";
@import "memberbereich";
@import "dachsanierung";
@import "lichtkuppeln";
@import "steinpflege";
@import "kontakt";

* {
  font-family: 'Inter', sans-serif;
}

#page-header {
  background-color: #DDE3EA !important;
}

#page-footer {

}

.footer-section {
  background-color: #DDE3EA !important;
}

.footer-navigation-list {
  color: black !important;
  align-content: center !important;
}

.footer-navigation-link-text {
  text-align: center !important;
}

//footer text schwarz
.bp-page-footer {
  .frame {
    color: black !important;
  }
}

//gallery ausblenden
.gallery-row {
  display: none;
}

#c36 .gallery-row {
  display:flex;
}

#page-footer .gallery-row {
  display: flex;
}

#c30 .gallery-row {
  display: flex;
}

#c117 .gallery-row {
  display:flex;
}

//bei mobile slider deaktivieren und normale gallery anzeigen
@media (max-width: 1400px) {
  img-comparison-slider { display: none; }
  .gallery-row { display: flex; }
}


@media (max-width: 768px) {
  .footer-section-content-column-left {
    display: flex;
    justify-content: center;
  }
  .footer-section-content-column-left .frame,
  .footer-section-content-column-left .gallery-row,
  .footer-section-content-column-left .gallery-item,
  .footer-section-content-column-left figure.image {
    width: auto;
    margin: 0;
  }

  .footer-section-content-column-left img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .footer-section-content-column-middle,
  .footer-section-content-column-right {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    box-sizing: border-box;
  }
}

//footer liste zentrieren
ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  text-align: center;
}

.footer-section-meta {
  p {
    text-align: center;
    color: black !important;
  }
}

.frame-type-macgyer_imagecomparisonslider h1 {
  font-size: 250%;
  font-weight: bold;
  color: #4FC3F7;
  margin-top: 7px;
}

//news
.page-28 {
  background-color: #EBF6FD;
}
.list-group-item {
  background-color: #4FC3F730;
  border: none;
  margin: 20px;

  a {
    text-decoration: none;
  }
}



